h1 {
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

body {
    background-color: #1A1A1D;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-box,
.close-icon,
.search-wrapper {
    padding: 10px;
    display: flex;
    position: relative;
}

.search-box {
    width: 80%;
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 15px;
}

.search-box:focus {
    box-shadow: 0 0 15px 5px #b0e0ee;
    border: 2px solid #bebede;
}

.close-icon {
    border: 1px solid transparent;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 70%;
}

.btn_detail {
    color: white;
    background-color: #3498DB;
    font-size: 20px;
    border: none;
    text-align: center;
    border-radius: 20px;
    justify-content: center;
    vertical-align: middle;
}

.btn_delete {
    color: white;
    background-color: #E50F0F;
    font-size: 20px;
    border: none;
    text-align: center;
    border-radius: 20px;
    justify-content: center;
    vertical-align: middle;
    margin-left: 10px;
}

.btn_delete:hover {
    background-color: #C3073F;
    cursor: pointer;
}

.btn_detail:hover {
    background-color: #2980B9;
    cursor: pointer;
}

.close-icon:after {
    content: "X";
    width: 15px;
    height: 15px;
    position: relative;
    background-color: #C3073F;
    margin-top: -40px;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 12px;
    box-shadow: 0 0 2px #E50F0F;
    cursor: pointer;
}

.search-box:not(:valid)~.close-icon {
    display: none;
}

.container_right {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.container {
    display: flex;
    flex-direction: initial;
    min-height: 60vh;
    height: auto;
}

h2 {
    color: white;
}

.container_left {
    flex: 3;
    margin-left: 10%;
}

.btn_listArticles {
    background-color: #C3073F;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 16px;
    border-radius: 10px;
}

.btn_listArticles:hover {
    cursor: pointer;
    background-color: #950740;
}

.btn_add {
    background-color: #C3073F;
    border: none;
    padding: 15px 32px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.btn_add:hover {
    cursor: pointer;
    background-color: #950740;
}

table {
    border: 1px solid white;
    color: white;
}

th {
    border: 1px solid white;
}

td {
    border: 1px solid white;
}

footer {
    position: relative;
    text-align: center;
    font-size: 19px;
    color: white;
    margin-top: auto;
}

.dropbtn {
    background-color: #3498DB;
    border-radius: 10px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 10px;
}

.show {
    display: block;
}

.searchDateContainer {
    display: flex;
    justify-content: center;
}

.searchDateContainer p {
    color: white;
}

.searchDateContainer button {
    color: white;
    width: 10px;
    padding-left: 10px;
}

.searchDateContainer input {
    border-radius: 10px;
    width: 30%;
    margin-left: 8px;
    margin-right: 8px;
}

.top_articles_container {
    width: 100%;
    border-color: white;
    justify-content: center;
    display: block;
}

.top_attr {
    display: flex;
    width: 50%;
    justify-content: center;
    color: white;
    text-align: center;
}

.top_attr_container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.top_articles_container hr {
    width: 50%;
}

.top_article {
    border: 1px solid white;
    border-color: white;
    text-align: center;
    display: flex;
    width: 100% - 10px;
    margin: 10px 10px 10px 10px;
    justify-content: center;
    color: white;
    border-radius: 10px;
}   

.top_article p {
    flex: 1;
}

.top_attr p {
    flex: 1;
    font-size: 24px;
}

.top_articles_table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 250px;
    border: 1px solid white;
    border-color: white;
    border-radius: 10px;
    justify-content: center;
    overflow: auto;
    margin-bottom: 10px;
}

.top_articles_table::-webkit-scrollbar {
    width: 20;
    background-color: transparent;
    color: aqua;
}

.top_articles_table::-webkit-scrollbar-thumb {
    width: 20;
    background-color: greenyellow;
    color: aqua;
    border-radius: 20px;
}